<div style="width: 100%" id="contact-form">
  <%= form_with(model: person, local: true, class: 'form') do |form| %>
  
    <div class="form-col">
      <div class="field">
        <%= form.label "Nombre" %>
        <%= form.text_field :name, id: :person_name, class: 'form-control', autofocus: true %>
        <span class="errors" id="name-error" style="display: none">Debes ingresar un nombre (mínimo 2 caracteres)</span>
      </div>

      <div class="field">
        <%= form.label "Apellido" %>
        <%= form.text_field :last_name, id: :person_last_name, class: 'form-control' %>
        <span class="errors" id="lastname-error" style="display: none">Debes ingresar un apellido (mínimo 2 caracteres)</span>
      </div>

      <div class="field">
        <%= form.label "Teléfono" %>
        <%= form.text_field :phone, id: :person_phone, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.hidden_field :user_id, id: :person_user_id, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.hidden_field :own, id: :person_own, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label "Email" %>
        <%= form.email_field :email, id: :person_email, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label "Dirección" %>
        <%= form.text_field :address, id: :person_address, class: 'form-control' %>
      </div>
    
      <div class="actions" style="margin-top: 10px">
        <%= link_to  "Cancelar", "javascript:history.back()", class: "btn btn-default small" %>
        <%= form.submit "Guardar", class: "btn btn-primary pull-right small", onclick: "onSubmit(event)" %>
      </div>
    </div>
  <% end %>

<script>
    function onSubmit(e){
        e.preventDefault();
        var prevent = false;
        
        if ( $( "#person_name" ).val() === "" || $( "#person_name" ).val().length < 2 ) {
            $("#name-error").show().fadeOut(2000);
            prevent = true;
        }else if ( $( "#person_last_name" ).val() === "" || $( "#person_last_name" ).val().length < 2 ) {
            $("#lastname-error").show().fadeOut(2000);
            prevent = true;
        }
        if(!prevent)
            $( "#contact-form form" ).submit();
    }
</script>