<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @account.person_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @account.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
